.required::after {
    content: " *";
    color: red;
}

.activeTab {
    background: #056464;
}
.app-logo {
    /* background-color: #bc202e; */
    background-color: #ffffff;
}
nav .app-logo .logo img {
    width: 190px !important;
}
.dark-logo {
    margin-bottom: 4px;
    width: 185px;
}
table td {
    white-space: nowrap;
}
@media (max-width: 767px) {
    .logo {
        display: none !important;
    }
}
